JWT_PUBLIC_KEY_PEM=-----BEGIN PUBLIC KEY-----\nREPLACE_ME\n-----END PUBLIC KEY-----
JWT_PRIVATE_KEY_PEM=-----BEGIN PRIVATE KEY-----\nREPLACE_ME\n-----END PRIVATE KEY-----
AUTH_ALLOW_EPHEMERAL_KEYS=false